{
    ApplicationDescription = "A time tracking application";
    ApplicationName = "TimeTracker";
    ApplicationRelease = "1.13";
    Copyright = "Copyright (C) 200x";
    CopyrightDescription = "Released under ...";
    FullVersionID = "1.13";
    NSExecutable = TimeTracker;
    NSMainNibFile = "MainMenu.xib";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}
